.hamicon,.close-icon{
    display: none;
}
body,html{
    min-width: 768px;
}

.navlist {
    display: flex;
    justify-content: space-around;
    list-style: none;
    border: 5px solid rgb(29, 167, 91);
    border-top: 0px;
    border-bottom: 0px;
    padding: 0em;
    text-decoration: none;
}

.lists a {
    display: block;
    position: relative;
    text-decoration: none;
    border: 1px solid rgba(0, 128, 0, 0.397);
    padding: 0.9em;
    border-radius: 10%;
    background: linear-gradient(rgba(133, 81, 201, 0.363), rgba(0, 128, 0, 0.384));
    color: var(--text-darkMode-color);
    transition: .1s step-end;

}

.lists a:hover {
    background: linear-gradient(rgba(0, 128, 0, 0.384), rgba(133, 81, 201, 0.363));
    color: greenyellow;
    cursor: pointer;
    box-shadow: -3px -4px 10px green;
    transition: .3s ease;

}

.lists:hover {
    color: green;
}
main{
    min-width: 769px;
    min-height: 0;
overflow-x: hidden;
}
main article{
    min-width: 0;
}


main .indexAside{
    min-width: 0;
}

footer em:hover::after {
    content: ')';
    cursor: pointer;
    animation: shake 1s alternate infinite;
}

footer em:hover::before {
    content: '(';
    cursor: pointer;
    animation: shake 1s alternate infinite;
}
.contact main .mainbackward{
    min-width: 79px;
}
.contact main .forward{
    min-width: 550px;
    width: 90vw;
    min-height: 100vh;
    height: 100%;
}