.hamicon,.close-icon{
    display: none;
}
body,html{
    min-width: 768px;
    font-size: 1rem;
}
.links .active{
    border-bottom: 4px solid rgb(28, 128, 0);
}
.navlist {
    display: flex;
    justify-content: space-around;
    list-style: none;
    border: 5px solid rgb(29, 167, 91);
    border-top: 0px;
    border-bottom: 0px;
    padding: 0em;
    text-decoration: none;
}

.lists a {
    display: block;
    position: relative;
    text-decoration: none;
    border: 1px solid rgba(0, 128, 0, 0.397);
    padding: 0.9em;
    border-radius: 10%;
    background: linear-gradient(rgba(133, 81, 201, 0.363), rgba(0, 128, 0, 0.384));
    color: var(--text-darkMode-color);
    transition: .1s step-end;

}

.lists a:hover {
    background: linear-gradient(rgba(0, 128, 0, 0.384), rgba(133, 81, 201, 0.363));
    color: greenyellow;
    cursor: pointer;
    box-shadow: -3px -4px 10px green;
    transition: .3s ease;

}

.lists:hover {
    color: green;
}
main{
    min-width: 769px;
    min-height: 0;
overflow-x: hidden;
}
main article{
    min-width: 0;
}


main .indexAside{
    min-width: 0;
}

/* footer em:hover::after {
    content: ')';
    cursor: pointer;
    animation: shake 1s alternate infinite;
}

footer em:hover::before {
    content: '(';
    cursor: pointer;
    animation: shake 1s alternate infinite;
} */
.mainbackward{
    margin: 2em;
    min-width: 0;
}

.contact .forward , .portfolio .forward, .blog .forward{
    width: 100%;
    min-height: 10vh;
    height: 100%;
}
.contact .form-main{
    grid-row: 2;
    display: grid;
    grid-template-columns: minmax(0,70%) 1fr;    
}
.contact form{
    border-right:2px solid rgb(135, 130, 139);
font-size: 19px;
    grid-column: 1;
    margin-left: 2em;
    
}
.contact .information{
    grid-column: 2;
    margin-left: 0.5em;
}
.contact input[type="text"],input[type="tel"],input[type="submit"]{
    width: 70%;
    margin: 0.5em;
    padding: 0.5em;
    
}
.contact input[type="submit"]{
    width: 40%;
    margin: 3em auto;
    
}
.contact input[type="radio"]{
    width: 6%;
}

.contact input[type="date"]{
    width: 30%;
}
.contact select{
    display: block;
    width: 40%;
}
@media  screen and (max-width:1000px) {
    .blog .blog-content{ grid-template-columns: repeat(2, minmax(0,100%));}

}
@media  screen and (max-width:1000px) {
    .portfolio .project-col{ grid-template-columns: repeat(2, minmax(0,100%));}

}
.portfolio .top-page{
    display: grid;
    grid-template-columns: minmax(0,60%) 40%;
}
.portfolio  .forward figure img{
    max-width:60%;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
.portfolio .figure{
    grid-column: 1;
    grid-row: 1;
    margin:1em;
}
.portfolio .progress-bar{
    grid-row: 1;
    grid-column: 2;   
    margin: 1em; 
}
