*,
:after,
:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #374094a9;
    --text-color: rgb(2, 2, 2);
    --text-darkMode-color: white;
    --text-grey: grey;

    /* for index.html file */
}
body{
    min-width: 0;
    /* font-size: 1rem; */
    min-height: 100vh;
    font-family:'Courier New', Courier, monospace;
    background-image: url('images/img.jpg'), linear-gradient(336deg, #34433f, #1c5191, #308260, #6f34a6); 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-darkMode-color);
    animation: AnimationName 15s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 30%}
    50%{background-position:30% 20%}
    100%{background-position:0% 30%}
}

li{
    list-style: none;
}

header {
    display: flex;
    justify-content:space-between;
    padding: 1em;
    margin: 0.1em;
    background: linear-gradient(rgb(0, 0, 0), rgba(24, 18, 18, 0.986));
}
header h1{
    margin-left: auto;
    margin-right: auto;
}

header img{
    width: 40px;height: 40px;
    align-self: flex-start;
    
    
}

footer {
    color: var(--text-grey);
    padding: 1.5em;
    margin: 0em;
    background: linear-gradient(black, rgba(53, 52, 52, 0.466));
    word-wrap: break-word;
}

footer>p {
    display: flex;
    justify-content: center;
    color: var(--text-grey);
    filter: drop-shadow(1.5px 1.5px 5px black);
}

 footer ul li,a{
    text-decoration: none;
    color: var(--text-grey);
    list-style: none;

}

 footer .ul1 {
     display: inline-flex;
     flex-direction: column;
    text-align: left;
    width: 50%;
    text-decoration: none;
    color: var(--text-grey);
}

 footer .ul2 {
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    float: right;
    text-decoration: none;
    color: var(--text-grey);
}
footer .ul2 img{
    width: 16px;
    height: 16px;
}
 footer ul {
     display: flex;
     justify-content:flex-start;
     position: relative;
    padding: 0.5em;
}

 footer ul li a:hover {
    cursor: pointer;
    text-shadow: 2px 2px 10px rgb(241, 7, 190);
    text-transform: uppercase;
}

 em:hover {
    cursor: pointer;
    animation: shake 1s alternate infinite;
}

@keyframes shake {
    0% {
        color: #FF033E;
        transform: scale(1.5, 1.5) rotate(10deg);
    }

    25% {
        color: #ff033e4d;
        transform: scale(1.5, 1.5) rotate(-10deg);
    }

    50% {
        color: #ff033e57;
        transform: scale(1.5, 1.5) rotate(10deg);
    }

    100% {
        color: #FF033E;
        transform: scale(1, 1) rotate(-10deg);
    }
}

nav {
    z-index: 3;
    position: sticky;
    top: 1px;
    padding: 1em;
    background-color: rgb(11, 11, 32);
    box-shadow: 1px 1px 10px 10px rgb(44, 40, 40);
}

.home .profileName {
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    font-size: x-large;

}

.home main {
    display: grid;
    grid-template-columns: minmax(0,60%) 40%;
    position: relative;
}

.home article {
    grid-column: 1;
    position: relative;
    box-shadow: -8px 7px 10px 1px #197a6a59 inset,
    8px -12px 10px 1px #197a6a59 inset;
    margin: 1em;
    border-radius: 2em;

}
sup{
    color: red;
}
.home article h3 {
    text-align: center;
    width: 90%;
    padding: 1em;
    font-size: 1em;
    text-indent: 1em;
    word-wrap: break-word;
}

 .home article:hover {
    box-shadow: -8px -7px 10px 1px #197a6a50 inset;
    transform:scale(0.95);

}

.home main .indexAside {
    grid-column: 2;
    position: relative;
}
.home main .indexAside img {
    object-fit: cover;
    max-width:100%;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(1px 1px 5px rgb(44, 124, 121));
}

.home .indexAside img:hover {
    transform: scale(0.99);

}

.nextbutton a {
    text-decoration: none;
    border: 1px solid grey;
    padding: 0.3em 0.5em;
    border-radius: 12%;
    background: linear-gradient(rgba(133, 81, 201, 0.363), rgba(0, 128, 0, 0.384));
    color: var(--text-darkMode-color);
    transition: .1s step-end;
}

.nextbutton a:hover {
    background: linear-gradient(rgba(0, 128, 0, 0.384), rgba(133, 81, 201, 0.363));
    color: greenyellow;
    cursor: pointer;
    box-shadow: -3px -4px 10px green;
    transition: .3s ease;
    transform: scale(0.9);
}

.nextbutton {
    display: flex;
    justify-content:end;
    padding: 1em 2.5em 1em 1em;
}
.twobutton{
    display: flex;
    justify-content: space-between;
    margin: 1em 0em 0em 1em;
}
                /* mainbackward */
.mainbackward{
    margin: 1.5em;
    min-width: 0;
}
 /* .contact .mainbackward{
     display: flex;
     justify-content: center;
     text-align: center;
    position: relative;
    min-width: 769px;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    
 } */

.forward{
 box-shadow: 1px 1px 12px 5px rgb(27, 22, 22);
 border-radius: 15px;
  padding: 1em;
  z-index:5;
  background: linear-gradient(126deg,#284a45,#17332f,#352843,#1d3b48,#8c5f95);
  background-size: 300% 300%;
  animation: block 15s ease infinite;

  box-shadow: 1px 1px 20px 1px rgb(27, 22, 22) inset  ;
}
.contact .forward,.blog .forward{
    display: grid;
    grid-template-columns: minmax(0,100%);
}

@keyframes block {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.contact .forward > h3 {
    font-size: x-large;
    text-align: center;
    grid-row: 1;
    text-shadow: 3.5px 1.5px rgba(170, 170, 153, 0.305);
}

.contact .contact-logo{
    display: grid;
    justify-content:space-around;
    border-top: 2px solid black;
    padding: 1em;
    margin: 1em;
    position: relative;
    grid-row: 3;
    grid-gap: 20px;
}
.contact .contact-logo h3{
    text-align: center;
    margin: 1em 0em 0.5em 0em;
    text-shadow: 4px 4px rgba(210, 226, 167, 0.204);

    
}
.contact .contact-logo {
    grid-row:3;
    display: flex;
}
.contact .contact-logo a:hover{
    filter: drop-shadow(4px 5px 10px rgb(185, 153, 10));

}
.contact .contact-logo a{
    animation: move 4s ease-in-out infinite;
    margin: 1em 0em 0.5em 0em;
    filter: drop-shadow(0.5px 0.5px 5px rgb(10, 24, 185));
}
@keyframes move{
    0%{
        transform: translateY(0);
    }
    
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}
.contact-logo a:nth-child(1){
    animation-delay: 1s;
}
.contact-logo a:nth-child(2){
    animation-delay: 3s;
}.contact-logo a:nth-child(3){
    animation-delay: 2s;
}
.contact .information{
   
    /* border-top: 1px solid grey ; */
    margin: 1em;
}
.contact .information li{
    list-style: none;
    margin-top: 1.5em;
    word-wrap: break-word;
    padding: .5em;
}
.contact .information li a{
    color:#ccd1af;
margin: 0.3em auto;
}
.contact .information li a:hover{
    filter: drop-shadow(2px 2.5px 12px  rgb(157, 255, 0));
}

.contact .form-main{
    margin: 2em;
}
.contact form{
   text-align: left;
    
}

.contact input[type="text"],input[type="tel"],input[type=submit]{
    text-shadow: 1px 1px grey;
    display: block;
    margin: 0.5em;
    border-radius: 7px;
    
}
.contact input[type="submit"]{
    text-align: center;
    align-items: center;
    border-radius: 5%;
    background: linear-gradient(rgba(133, 81, 201, 0.363), rgba(0, 128, 0, 0.384));
    color: white;
    border: 1px solid grey ;
    border-radius: 7px;
    
}
.contact input[type="submit"]:hover{
    cursor: pointer;
    background: linear-gradient(rgba(0, 128, 0, 0.384), rgba(133, 81, 201, 0.363));
    box-shadow: -3px -4px 10px green;
    transition: .3s ease;
    transform: scale(0.9);
}
.contact input[type="radio"]{
    text-shadow: 1px 1px grey;
    display: inline-block;
 
}
.contact .gender, .dob, .nation{
    display: block;
    margin: 0.5em 0.2em;
}


.contact input[type="date"]{
    display: block;
    background: #e3e1dd;
    text-shadow: 1px 1px grey;    
    width: 50%;border-radius: 5px;
}

.contact select{
    display: inline-block;
    text-shadow: 0.5px 0.5px grey;
    width: 50%;  
    border-radius: 7px;
}
.contact .textarea, .contact textarea{
    display: block;
    width: 70%;
    height: 80px;
padding: 0.2em;
border-radius: 7px;
}
        /* forward */
.portfolio .forward,.blog .forward{
    display: grid;
    grid-template-columns: minmax(0,100%);
}
.portfolio .forward figcaption{
    color: grey;
    text-align: center;
    font-size: 10px;
    margin-top: 1em;    
}
.portfolio  .forward .top-page figure img{
display: block;
border-radius: 50%;
object-fit: contain;
filter: drop-shadow(5px 5px 5px rgb(126, 217, 185));
}

.portfolio .outerbox{
    /* border: 1px red solid; */
    box-shadow: 0.5px 0.5px 3.5px 1px #00FFFF;
    display: block;
    width: 80%;
    border-radius: 3px;
    padding: 0.1em;
    margin: 0.5em;

}
.portfolio .innerbox{
    border: 1px solid #cc00fffc;
    display: block;
    width: 0%;
    position: relative;
    animation: progress 8s ease-in-out 1s;

}
.portfolio .html{width: 95%;}
.portfolio .css{width: 85%;}
.portfolio .java{width: 45%;}
.portfolio .js{width: 30%;}
@keyframes progress{
    0%{
        width: 3%;
    }
    
   
}
.portfolio h3{
   word-wrap: break-word;
} 
.portfolio .progress-bar ul li{
    font-family:'Courier New', Courier, monospace;
    margin: 0.5em;

}
.portfolio .project-col{
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(3, minmax(0,100%));
}
.portfolio .project-col figure a img{
    width: 70%;
    max-width: 90%;
    display: block;
    position: relative;
    object-fit: contain;
    filter: drop-shadow(1px 1px 5px #401e63);
    border-radius: 4%;
}
.portfolio .project-col figure{
    border: 1px solid grey;
    padding: 0.3em;
    margin: 1em; 
    border-radius: 3%;
    box-shadow: 0.1px 0.1px 10px #00ff443f;
}

.portfolio .project-col figure figcaption, .blog .blog-content figcaption {
    text-align: center;
    font-size: .9rem;
    color: #ffffff;
    margin:.3em;
    padding: .7em;
    word-wrap: break-word;
}
.portfolio .forward .qualification li a{
 margin: 1em 0em 2em 1em;
color: #f7f7f7f3;
}
.portfolio .forward .qualification{
    margin-bottom: 2em;
}
.portfolio .forward .qualification li:hover{
    cursor: pointer;
    text-shadow: 2px 2px 10px rgb(241, 7, 190);
    text-transform: uppercase;
}
.blog .blog-content{
    display: grid;
    grid-template-columns: repeat(3, minmax(0,100%));

}
.blog .forward>h3{
    font-size: x-large;
    text-align: center;
    padding: .3em;
    border-bottom: 3px solid green;
width: 23%;
margin-right: auto;
margin-left: auto;
    margin-bottom: 1.5em;
    text-shadow: 1.5px 1.5px yellowgreen;
}


.blog .blog-content img{
    width: 70%;
    max-width: 90%;
    display: block;
    position: relative;
    object-fit: contain;
    filter: drop-shadow(1px 1px 5px #401e63);
    border-radius: 4%;
    margin-left: auto;
    margin-right: auto;
}
.blog .blog-content figure{
    border: 1px solid grey;
    padding: 0.3em;
    margin: 1em; 
    border-radius: 3%;
    box-shadow: 0.1px 0.1px 10px #00ff443f;
}
.blog .blog-content figure:hover, .portfolio .forward figure:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: transform .2s ;
    
}
.site-report .forward{
    display: grid;
    grid-template-columns: 1fr minmax(0,85%);
    grid-template-areas: "rRight rLeft"
}
.site-report .forward .reportLeft{
    margin: 1em;
    padding: 0em 1em;
    grid-area: rLeft;
    border-left: 2px solid green;
}
.site-report .forward .reportLeft section img{
    width: 300px;
    height: 10%;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 5px rgb(95, 29, 194));
    padding: .5em;
}

.site-report .forward .stickyright{
   grid-area: rRight;
   border: 3px solid grey;
   border-radius: 12px;  
   box-shadow: 1px 1px 10px rgb(82, 91, 68);

}
.site-report .forward .stickyright ul li {
    margin: 1em;
    padding: 1em;
    word-wrap: break-word;
}
.site-report .forward .reportLeft section{
    margin: 1em;
    padding: 1em;
    border-bottom: 1px dashed grey;
    
}
.site-report .forward .reportLeft section h3{
    padding: 1em;
    margin: .5em;
    text-shadow: 1px 3px rgb(109, 50, 205);

}
.site-report .forward .reportLeft section>h2{
    text-align: center;
    text-shadow: 1px 3px rgb(50, 104, 205);
}
.site-report .forward .reportLeft section details{
    padding: 1em;
    margin: .5em;
    border:1px solid grey;
    border-radius: 12px;
}
.site-report .forward .reportLeft section details summary{
    font-size: larger;
}
.site-report .forward .reportLeft section details:hover{
    cursor: pointer;
    text-shadow: 2px 2px 10px rgb(241, 7, 190);
    color: yellow;
    background-color: #17332f;
}
.site-report .forward a{
    color: wheat;
}
.site-report .forward .stickyright  li:hover{
    text-shadow: 3px 3px 20px rgb(226, 22, 192);
background-color: #000000;
border-radius: 12px;
}
.site-report .forward .reportLeft li{
    margin: .5em;
    padding: .3em;
}
.site-report .forward .reportLeft li a:hover{
    text-shadow: 3px 3px 20px rgb(226, 22, 192);
background-color: #000000;
}