*, :after,:before{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box !important;
}
:root{
    --bg-color: #374094a9;
    --text-color: rgb(2, 2, 2);
    --text-darkMode-color: white;
    --text-grey: grey;


}
body.home{
    min-height: 100vh;
    background-image: url('img.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-darkMode-color) ;
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:"header"
                        "nav"
                        "section""article""nextbtn"
                        "footer";
}


    
    


    
.home header{
 grid-area: header;
 display: flex;
 justify-content: center;
 text-align: center;
 padding: 1em;
 margin: 1px;
 /* box-shadow: 1px 1px 7px grey; */

}
.home footer{
    grid-area: footer;
    padding: 1em;
    /* display: flex;
    justify-content: center; */
    border:1px solid rgb(90, 46, 46);
    color: var(--text-grey);
    border-left:0px;
    border-right: 0px;
    padding: 1.5em;
    margin: 0em 0em;
    background: linear-gradient(black,rgba(128, 128, 128, 0.466));
}
.home footer > p{
    display: flex;
    justify-content: center;
    color: var(--text-grey);
    filter: drop-shadow(1.5px 1.5px 5px black);
}
.home footer ul li a{
    text-decoration: none;
    color: var(--text-grey);
    
}
.home footer .foot{
    display: block;
    width: 50%;
    float:left;
    text-align: center;
    text-decoration: none;
    color: var(--text-grey);
}
.home footer .foot2{
    display: block;
    width: 50%;
    float:right;
    text-decoration: none;
    text-align: center;
    color: var(--text-grey);
}
.home footer ul{
    padding: 1em;
}
.home footer ul li a:hover{
    cursor: pointer;
    text-shadow: 2px 2px 10px rgb(241, 7, 190);
    text-transform: uppercase;
}


}
.home nav{
    grid-area: nav;
    padding: 1em;
    box-shadow: 1px 1px 10px 10px grey; 
}
.navlist{
display: flex;
justify-content: space-around;
list-style: none;
border:5px solid rgb(29, 167, 91);
border-top:0px ;
border-bottom: 0px;
padding: 0.5em;
text-decoration: none;
}
.lists a{
    text-decoration: none;
    border: 1px solid grey;
    padding: 0.9em;
    border-radius: 10%;
    background: linear-gradient(rgba(133, 81, 201, 0.363),rgba(0, 128, 0, 0.384));
    color: var(--text-darkMode-color);
   transition: .1s step-end;

}
.lists a:hover{
    background: linear-gradient(rgba(0, 128, 0, 0.384),rgba(133, 81, 201, 0.363));
    color:greenyellow;
    cursor: pointer;
    box-shadow: -3px -4px 10px green;
    transition: .3s ease;
   
}
.lists:hover{
    color:green;}

.profileName {
    grid-area: section;
    padding: 1em;
    
    font-size: x-large;

}
.home article{
    grid-area: article;
    padding: 1em;
    border:1px solid indianred;
    max-width: 859px;
    width:90%;
    height: auto;
    margin: 1.5em;
    border-radius: 2em;
    box-shadow: 10px 10px 90px 90px rgb(101, 43, 134) ;
    font-size: large;
    text-indent: 30px;
    letter-spacing: 3px;
    line-height: 2;
    font-family: 'Indie Flower', cursive;


}
 article:hover{
    box-shadow: 8px 7px 10px rgb(25, 122, 106) ;
}

    
       
    

  .nextbutton a{
       text-decoration: none;
       border: 1px solid grey;
        padding: 0.3em 1em;
        border-radius: 10%;
        background: linear-gradient(rgba(133, 81, 201, 0.363),rgba(0, 128, 0, 0.384));
        color: var(--text-darkMode-color);
       transition: .1s step-end;

   }
   .nextbutton a:hover{
    background: linear-gradient(rgba(0, 128, 0, 0.384),rgba(133, 81, 201, 0.363));
    color:greenyellow;
    cursor: pointer;
    box-shadow: -3px -4px 10px green;
    transition: .3s ease;
   }
   .nextbutton{
       grid-area: nextbtn;
       display: flex;
       justify-content: end;
       margin: 0.5em 3em 0.3em 0em;

   }
   